@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

.navbar {
}

.navbar ul {
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.fullheader {
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #1c62a9;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
}
